body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
  background: whitesmoke;
}
img {
  height: 80px;
}
.card {
  background: white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.btn {
  border: none;
  outline: none;
  background: #764abc;
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background: #513282;
}

.heading {
  padding: 25px 0;
}
.cartCount {
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 40px;
}
.navLink {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

img{
  height: 80px;
}

.product-page {
  display: flex;
  margin: 50px;
}

.product-page .left-column {
  flex: 1;
  padding: 20px;
}

.product-page .right-column {
  flex: 1;
  padding: 20px;
}


.product-page .product-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-page .product-description {
  margin-bottom: 20px;
}

.product-page .product-price {
  font-size: 18px;
  font-weight: bold;
}

.product-page .product-features {
  margin-bottom: 20px;
}

.product-page .product-features h4 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-page .product-features ul {
  list-style-type: disc;
  padding-left: 20px;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.navbar-brand .navbar-logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
}
